##                                              Graded Quiz code

## Import libraries

In [1]:
#import my libraries
import numpy as np
import pandas as pd

## Import the data

In [2]:
#read the data with pandas
fuel_data = pd.read_csv('fuel_ferc1.csv')

In [3]:
#have a look at the 10 first row of the data
fuel_data.head(10)

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590000,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592000,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130000,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950000,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000000,2.77,2.77,2.570
5,f1_fuel_1994_12_2_0_13,2,1994,e. c. gaston-unit 5,coal,ton,2124933.0,23.922000,44.24,43.25,1.850
6,f1_fuel_1994_12_2_1_1,2,1994,joseph m. farley,nuclear,kgU,2260.0,0.064094,28.77,0.00,0.450
7,f1_fuel_1994_12_2_1_10,2,1994,resondent's portion,coal,ton,5372133.0,24.840000,58.54,55.13,2.360
8,f1_fuel_1994_12_2_2_10,2,1994,respondent's portion,coal,ton,817520.0,24.290000,33.97,34.65,1.400
9,f1_fuel_1994_12_4_0_1,4,1994,units 1-3,coal,ton,1471233.0,22.484000,28.73,28.11,1.278

In [4]:
#get familiar with the names feature of the data
fuel_data.columns

Index(['record_id', 'utility_id_ferc1', 'report_year', 'plant_name_ferc1',
       'fuel_type_code_pudl', 'fuel_unit', 'fuel_qty_burned',
       'fuel_mmbtu_per_unit', 'fuel_cost_per_unit_burned',
       'fuel_cost_per_unit_delivered', 'fuel_cost_per_mmbtu'],
      dtype='object')

## Question 1  : extend python list

In [5]:
#given two list A and B
#The task is to create a list with the elements of A and B in a single dimension with output: 
#A_B =  [1,2,3,4,5,6,13, 21, 34]

A = [1,2,3,4,5,6]
B = [13, 21, 34]

In [6]:
#Extend Iterates over its argument and adding each element to the list and extending the list.
#The length of the list increases by number of elements in it’s argument.
A.extend(B)

In [7]:
A_B = A
A_B

[1, 2, 3, 4, 5, 6, 13, 21, 34]

## Question 2 : create identity matrix

In [8]:
#In python create an identity matrix indentity or eye from numpy
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

## Question 3 : type code with the lowest average fuel cost per unit burned

In [9]:
#fuel type code that has the lowest average fuel cost per unit burned?
fuel_data.groupby('fuel_type_code_pudl')[['fuel_cost_per_unit_burned']].mean().idxmin(axis=0)

fuel_cost_per_unit_burned    gas
dtype: object

## Question 4 : standard deviation and 75th percentile

In [10]:
#we compute the standard deviation  of the measure of energy per unit (Fuel_mmbtu_per_unit) in two decimal places

fuel_mmbtu_per_unit_std = round(fuel_data['fuel_mmbtu_per_unit'].std(),2)

fuel_mmbtu_per_unit_std

10.6

In [11]:
#We compute 75th percentile of the measure of energy per unit (Fuel_mmbtu_per_unit) in two decimal places
fuel_mmbtu_per_unit_quantile = round(fuel_data['fuel_mmbtu_per_unit'].quantile(0.75),2)

fuel_mmbtu_per_unit_quantile

17.01

## Question 5: Skewness and kurtosis

In [12]:
#the skewness and kurtosis for the fuel quantity burned in two decimal places?
skewness_fuel_qty_burned = round(fuel_data['fuel_qty_burned'].skew(),2)
kurtosis_fuel_qty_burned = round(fuel_data['fuel_qty_burned'].kurtosis(),2)

In [13]:
print(f"For the fuel quantity burned, the skewness is  {skewness_fuel_qty_burned} and the kurtosis {kurtosis_fuel_qty_burned}")

For the fuel quantity burned, the skewness is  15.85 and the kurtosis 651.37

## Question 6: Missing value

In [14]:
#feature with the missing values 
#the total number of missing value 
#percentage of the missing rows as a factor of the total number of rows in three decimal places

#(Enter answer in the format: Feature: xxx, Total: xxx, Percent: xxx)

In [15]:
#check the null value
fuel_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [16]:
#compute the percentage of the missing row (180)
percentage_missing_value = round(((180*100)/len(fuel_data))*100,3)

In [17]:
print(f"Feature: 'fuel_unit ', Total: {180}, Percent: {percentage_missing_value}")

Feature: 'fuel_unit ', Total: 180, Percent: 60.969

## Question 7: feature category and imputation 

The feature with missing values falls under what category? 
What missing value imputation technique would you use?

Looking at question 6, we can see that the feature with missing values is a *categorical* feature.

Then we can fill the missing values using  *the mode imputation*

## Question 8: Correlation

In [18]:
#features that has the second and third lowest correlation with the Fuel Cost Per Unit Burned

In [19]:
fuel_data.corr()[['fuel_cost_per_unit_burned']].sort_values(by='fuel_cost_per_unit_burned')[1:3]

                     fuel_cost_per_unit_burned
fuel_qty_burned                      -0.018535
fuel_mmbtu_per_unit                  -0.010034

## Question 9 : Percentage change

In [20]:
#For the fuel type coal, what is the percentage change in the fuel cost per unit burned in 1998 compared to 1994?

In [21]:
fuel_data[fuel_data[['fuel_type_code_pudl']]=='coal'].groupby('report_year')[['fuel_cost_per_unit_burned']].sum()

Empty DataFrame
Columns: [fuel_cost_per_unit_burned]
Index: []

## Question 10 : year with the highest fuel cost per unit delivered

In [28]:
#year that has the highest average fuel cost per unit delivered
fuel_data.groupby('report_year')[['fuel_cost_per_unit_delivered']].mean().max(axis=0)

fuel_cost_per_unit_delivered    11140.197239
dtype: float64

In [27]:
fuel_data.groupby('report_year')[['fuel_cost_per_unit_delivered']].mean().idxmax(axis=0)

fuel_cost_per_unit_delivered    1997
dtype: int64